* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Recursive", sans-serif, "Big Shoulders Text", cursive, "Hahmlet", serif, "Old Standard TT", serif;
  font-size: 16px;
}
#header {
display: flex;
flex-direction: row;
width: 100%;
background-color: grey;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  width: 28.5%;
  margin: 1em 0 1em 0;
}
.img {
  display: flex;
  justify-content: center;
  width: 500%;
  margin: 0 auto auto 1.2em;
  background-color: #ffffff;
}
h1 {
  margin: 0 1em 0 1.58em;
  padding: 0.12em 0.2em 0 0.2em;
  font-size: 4em;
  color: #000;
  background-color: #f28b2d;
}
.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
}
#form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em 1em 1em 0;
  margin-left: 0.4em;
}
.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.input-form {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 1px solid #000;
  outline: none;
  padding: 0.4em;
  margin: 0 4em 0 -24em;
}
.button {
  display: flex;
  justify-content: center;
  width: 6%;
  margin-left: -4em;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
}
.fa-search {
  font-size: 1.6em;
  margin-top: 0.20em;
}
.fa-search:hover {
  color: #f28b2d;
}
.shopp-icon {
  display: flex;
  flex-direction: row;
  width: 12%;
  margin-left: 70em;
  margin-top: 3.1em;
  color: #f28b2d;
  cursor: pointer;
}
.fa-shopping-cart {
  font-size: 1.8em;
}
.shopping-cart {
  font-size: 0.8em;
  font-family: "Big Shoulders Text", sans-serif;
  cursor: pointer;
  color: #ffffff;
}
.nav {
  display: flex;
  width: 100%;
  margin-bottom: 2.8em;
  justify-content: center;
  background-color: #2b2a33;
}
.nav-bar {
  display: block;
}
.dropbtn > i {
  font-size: 1.5em;
}
.dropbtn {
  padding: 1em 2em 1em 2em;
  font-size: 1.2em;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: #ffffff;
  background-color: #f28b2d;
}
.row {
  width: 500px;
  background-color: lightgrey;
}
.row a:hover {
  color: #f28b2d;
  text-decoration: underline;
}
.animation-icon {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #eee;
  color: tomato;
  cursor: pointer;
}
/* CSS flex-box / SLIDESHOW /CAROUSEL GRID*/
.main {
  display: grid;
  justify-content: center;
  position: relative;
  margin: auto;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2em auto 2em auto;
  width: 100%;
  overflow: hidden;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow:  row;
  align-content: center;
  background-color: lightgrey;
  width: 260%;
}
.mySlides {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.flex-container > div {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  color: #000;
  width: 100%;
  text-align: center;
  align-items: center;
  line-height: 5em;
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
}
.flex-container > div h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: inherit;
  font-weight: 100;
}
.flex-container > div p {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin: auto 1em auto 1em;
}
.flex-container > div p:hover {
  text-decoration: underline;
  text-decoration-color: tomato;
}
.flex-container button {
  transition: width 1s;
  transition-delay: 1s;
  margin: 1em 1em 1em 1em;
  padding: 0.2em 1em 0.2em 1em;
  width: 50%;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: lightgrey;
}
.flex-container button:hover {
  width: 20%;
  background-color: tomato;
  color: whitesmoke;
}
.btn:active {
  transform: translateY(4px);
}
.next, 
.prev {
  cursor: pointer;
  position: absolute;
  top: 54%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.8);
}
.contact {
  text-align: center;
  background-color: grey;
  padding-top: 4em;
  padding-bottom: 4em;
}
.footer {
  background: tomato;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  color: whitesmoke;
}
















