$black0e: #0e1318;
$green44: #44ce7b;
$green8a: #8ae1b0;
$black2a: #2a2d2f;
$greend9: #d9eee1;
$whiteff: #ffffff;
$redcc: #cc3355;
$colort: tomato;
$border-image: linear-gradient(#00f8c0, #2475ff) 10;
