.main {
  justify-content: center;
  position: relative;
  margin: auto;
  padding-bottom: 2em;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: $colord9;
}
.container {
  display: inline-block;
  align-content: center;
  width: 100%;
  text-align: center;
}
.flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 2em 0.5em 1em 0.5em;
  padding: 2em 1em 1em 1em;
  width: 100%;
  .mySlides {
    justify-content: center;
    border: 2px solid $black;
    overflow: hidden;
    position: relative;
    background-color: $white;
    cursor: pointer;
    font-size: 1em;
    &:hover {
      background-color: $lightGreen;
    }
    img {
      font-size: 1em;
      width: 25%;
      margin: 1em 0 1em 0;
    }
    h3 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
      padding: 1em 0 1em 0;
    }
    .btn {
      width: 30%;
      border: 2px solid $black;
      border-radius: 4px 2px;
      font-size: 1.5em;
      font-family: inherit;
      padding: 0.4em 0.4em 0.4em 0.4em;
      margin-bottom: 1em;
      cursor: pointer;
      &:hover {
        background-color: $colort;
      }
    }
  }
}
