.header {
  background-color: $black2a;
  font-family: monospace;
  .container {
    display: flex;
    gap: 0.5rem;
    div {
      padding: 1.2rem;
      height: 3rem;
      flex: 1;
      .brand-link {
        font-size: 2rem;
        text-decoration: none;
        color: $greend9;
      }
      .list,
      ul {
        font-size: 1rem;
        list-style-type: none;
        color: $greend9;
        flex: 1 1 0%;
        li {
          text-align: center;
        }
      }
    }
  }
  .container-links {
    display: flex;
    gap: 0.5rem;
    div {
      padding: 16px;
      height: 2rem;
      flex: 1;
      .fa-user-circle {
        font-size: 1.4rem;
        text-decoration: none;
        color: $greend9;
      }
      .fa-shopping-cart {
        font-size: 1.4rem;
        text-decoration: none;
        color: $greend9;
      }
    }
  }
  .container-form {
    display: flex;
    background-color: $black0e;
    .form-search {
      padding: 1rem;
      height: 2rem;
      flex: 1;
      form {
        display: flex;
        justify-content: center;
        input {
          height: 30px;
          width: 50%;
        }
      }
    }
  }
}
