.navbar {
  background-color: #f4f7f6;
  font-family: sans-serif;
  .container {
    display: flex;
    div {
      padding: 2rem;
      height: 50px;
      flex: 1 1 0%;
      ul,
      li {
        text-decoration: underline;
        list-style-type: none;
      }
    }
  }
}
