.main {
  height: 550px;
  padding: 16px;
  .section {
    height: 300px;
    padding: 12px;
    h1 {
      text-align: center;
      font-size: 2em;
      padding-bottom: 1em;
      text-decoration: underline $colorff6;
    }
    .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
      height: 250px;
      gap: 8px;
      .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $colorff6;
        .flex-item {
          padding-top: 0px;
          border-bottom: 2px solid $colorff6;
          margin-top: 0px;
          height: 160px;
          width: 100%;
        }
        img {
          width: 100%;
          margin: 10px;
          height: 60;
          object-fit: cover;
        }
      }
      .price {
        padding-bottom: 1em;
        text-align: center;
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
        button {
          padding: 0.3em;
          text-align: center;
          border: 1px solid #000;
          &:hover {
            background-color: $colorff6;
          }
        }
      }
    }
  }
}
