.header {
  background-color: #2a2d2f;
  font-family: sans-serif;
}

.header .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  height: 100px;
  gap: 5px;
}

.header .flex-container div {
  padding: 10px;
}

.header .flex-container .flex-item-brand {
  background-color: lightblue;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header .flex-container .flex-item-brand span,
.header .flex-container .flex-item-brand .brand {
  font-size: 2.2em;
  color: #d9eee1;
}

.header .flex-container .flex-item-link {
  background-color: lightgreen;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .flex-container .flex-item-link a,
.header .flex-container .flex-item-link .link {
  text-align: center;
  font-size: 1em;
  color: #d9eee1;
}

.header .flex-container .flex-item-user {
  background-color: lightcoral;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .flex-container .flex-item-user a,
.header .flex-container .flex-item-user .user {
  font-size: 1em;
  color: #d9eee1;
}

.header .flex-container .container {
  background-color: lightpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header .flex-container .container .flex-item-cart {
  background-color: lightseagreen;
  height: 50px;
  padding: 16px;
}

.header .flex-container .container .flex-item-cart .fa-shopping-cart {
  font-size: 2em;
  color: #d9eee1;
}

.header .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0e1318;
}

.header .container-form .form-search {
  padding: 1rem;
  height: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .container-form .form-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container-form .form-search form input {
  height: 30px;
  width: 50%;
}

.navbar {
  background-color: #f4f7f6;
  font-family: sans-serif;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container div {
  padding: 2rem;
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.navbar .container div ul,
.navbar .container div li {
  text-decoration: underline;
  list-style-type: none;
}

/* Breakpoints are customizable widths that determine 
 how your responsive layout behaves across device or viewport sizes */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */