.header {
  background-color: #2a2d2f;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  height: 150px;
  gap: 5px;
}

.header .container div {
  padding: 10px;
}

.header .container .flex-item-brand {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  cursor: pointer;
}

.header .container .flex-item-brand:hover {
  text-decoration: underline;
  color: #ff6347;
}

.header .container .flex-item-brand span,
.header .container .flex-item-brand .brand {
  font-size: 4.2em;
  color: #d9eee1;
}

.header .container .flex-item-contact {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .container .flex-item-contact a,
.header .container .flex-item-contact .link {
  font-size: 2em;
  color: #d9eee1;
}

.header .container .flex-item-contact a:hover,
.header .container .flex-item-contact .link:hover {
  text-decoration: none;
  font-size: 2.1em;
}

.header .container .flex-item-user {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .container .flex-item-user a,
.header .container .flex-item-user .user {
  font-size: 2em;
  color: #d9eee1;
}

.header .container .flex-item-user a:hover,
.header .container .flex-item-user .user:hover {
  text-decoration: none;
  font-size: 2.1em;
}

.header .container .flex-item-cart {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  cursor: pointer;
}

.header .container .flex-item-cart i,
.header .container .flex-item-cart .fa-shopping-cart {
  font-size: 2em;
  color: #ff6347;
}

.header .container .flex-item-cart span,
.header .container .flex-item-cart .cart {
  font-size: 2em;
  color: #d9eee1;
  text-decoration: underline;
}

.header .container .flex-item-cart span:hover,
.header .container .flex-item-cart .cart:hover {
  text-decoration: none;
  font-size: 2.1em;
}

.header .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0e1318;
  padding: 16px;
}

.header .container-form .form-search {
  height: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .container-form .form-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-form .form-search form input {
  height: 35px;
  width: 50%;
}

.navbar {
  background-color: whitesmoke;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 150px;
  gap: 5px;
}

.navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 14px;
  font-size: 2em;
}

.navbar .container ul li {
  cursor: pointer;
  color: #0e1318;
  font-weight: lighter;
  list-style-type: none;
}

.navbar .container ul li:hover {
  background-color: #2a2d2f;
  color: #ffffff;
  text-decoration: underline;
}

/* Breakpoints are customizable widths that determine 
 how your responsive layout behaves across device or viewport sizes */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex-item-contact {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .flex-item-contact a .span,
  .flex-item-contact .link .span {
    font-size: 1em;
    display: none;
  }
  .flex-item-user {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .flex-item-user a .span,
  .flex-item-user .user .span {
    font-size: 1em;
    display: none;
  }
  .flex-item-cart {
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
  }
  .flex-item-cart i,
  .flex-item-cart .fa-shopping-cart {
    font-size: 2em;
    color: #ff6347;
  }
  .flex-item-cart span,
  .flex-item-cart .cart {
    display: none;
  }
}

.section-content .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-content .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-content .owl-carousel .owl-nav .owl-prev {
  display: none;
}

.section-content .owl-carousel .owl-nav .owl-next {
  position: relative;
  top: 1em;
  color: #ff6347;
}

@media only screen and (max-width: 768px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px;
    height: 110px;
    gap: 5px;
  }
  .header .container .flex-item-brand {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 12px;
    cursor: pointer;
  }
  .header .container .flex-item-brand img {
    width: 75px !important;
    height: 75px !important;
  }
  .header .container .flex-item-brand span,
  .header .container .flex-item-brand .brand {
    display: none;
  }
  .header .container .flex-item-contact {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header .container .flex-item-contact a .span,
  .header .container .flex-item-contact .link .span {
    font-size: 1em;
  }
  .header .container .flex-item-user {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header .container .flex-item-user a .span,
  .header .container .flex-item-user .user .span {
    font-size: 1em;
  }
  .header .container .flex-item-cart {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
  }
  .header .container .flex-item-cart i,
  .header .container .flex-item-cart .fa-shopping-cart {
    font-size: 2em;
    color: #ff6347;
  }
  .header .container .flex-item-cart span,
  .header .container .flex-item-cart .cart {
    display: none;
  }
  .header .container-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0e1318;
    padding: 16px;
  }
  .header .container-form .form-search {
    height: 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header .container-form .form-search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container-form .form-search form input {
    font-size: 1em;
    height: 38px;
    width: 70%;
  }
  .navbar {
    color: white;
    background-color: #000;
    border-radius: 10px;
  }
  .navbar .container {
    padding: 16px;
    height: 250px;
    overflow: hidden;
    background-color: whitesmoke;
    position: relative;
  }
  .navbar .container #items {
    display: none;
  }
  .navbar .container #items ul,
  .navbar .container #items li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.4em;
    color: #0e1318;
    font-size: 1.2em;
    padding: 5px 5px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
  }
  .navbar .container #items ul:hover,
  .navbar .container #items li:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  .navbar .container a {
    text-decoration: none;
    color: #0e1318;
    padding: 14px 16px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .container a,
  .navbar .container .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2em;
    color: #ff6347;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar .container a,
  .navbar .container .icon {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.section-content {
  margin-top: 3rem !important;
  margin-bottom: 3rem;
  padding: 16px;
  height: 400px;
}

.section-content .owl-carousel {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-weight: 300;
  font-size: 2em;
  line-height: 2.5;
  z-index: 1;
  width: 100%;
  position: relative;
}

.section-content .owl-carousel img {
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}
/*# sourceMappingURL=main.css.map */