.header {
  background-color: #2a2d2f;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  height: 150px;
  gap: 5px;
}

.header .container div {
  padding: 10px;
}

.header .container .flex-item-brand {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header .container .flex-item-brand:hover {
  font-size: 2.1em;
}

.header .container .flex-item-brand span,
.header .container .flex-item-brand .brand {
  font-size: 2em;
  color: #d9eee1;
}

.header .container .flex-item-contact {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .container .flex-item-contact a,
.header .container .flex-item-contact .link {
  font-size: 2em;
  color: #d9eee1;
}

.header .container .flex-item-contact a:hover,
.header .container .flex-item-contact .link:hover {
  text-decoration: none;
  font-size: 2.1em;
}

.header .container .flex-item-user {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .container .flex-item-user a,
.header .container .flex-item-user .user {
  font-size: 2em;
  color: #d9eee1;
}

.header .container .flex-item-user a:hover,
.header .container .flex-item-user .user:hover {
  text-decoration: none;
  font-size: 2.1em;
}

.header .container .flex-item-cart {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
}

.header .container .flex-item-cart i,
.header .container .flex-item-cart .fa-shopping-cart {
  font-size: 2em;
  color: #ff6347;
}

.header .container .flex-item-cart span,
.header .container .flex-item-cart .cart {
  font-size: 2em;
  color: #d9eee1;
  text-decoration: underline;
}

.header .container .flex-item-cart span:hover,
.header .container .flex-item-cart .cart:hover {
  text-decoration: none;
  font-size: 2.1em;
}

.header .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0e1318;
  padding: 16px;
}

.header .container-form .form-search {
  height: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .container-form .form-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-form .form-search form input {
  height: 35px;
  width: 50%;
}

.navbar {
  background-color: whitesmoke;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 150px;
  gap: 5px;
}

.navbar .container ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 14px;
  font-size: 2em;
}

.navbar .container ul li {
  cursor: pointer;
  color: #0e1318;
  font-weight: lighter;
}

.navbar .container ul li:hover {
  background-color: #2a2d2f;
  color: #ffffff;
  text-decoration: underline;
}

/* Breakpoints are customizable widths that determine 
 how your responsive layout behaves across device or viewport sizes */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}
/*# sourceMappingURL=main.css.map */