header {
  z-index: 2;
  width: 100%;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  padding: 2em 1em 2em 1em;
  border-bottom: 2px solid #000;
}

header .container h1 {
  border: 4px solid #0e1318;
  font-size: 5em;
  padding: 0 0.41em 0 0.2em;
}

header .container h1 a {
  text-decoration: none;
  list-style-type: none;
  color: #0e1318;
}

header .container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  width: 30%;
  margin-left: 1em;
}

header .container .icons .fa-user-circle {
  margin-right: 2em;
}

header .container .icons .user-circle {
  font-family: monospace;
}

header .container .icons .user-circle:hover {
  text-decoration: underline;
  cursor: pointer;
}

header .container .icons .shopping-cart {
  font-family: monospace;
}

header .container .icons .shopping-cart:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

nav .nav-bar .dropdown {
  position: relative;
  display: inline-block;
  font-size: 2em;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #000;
}

nav .nav-bar .dropdown:hover {
  background-color: tomato;
}

nav .nav-bar .dropdown .dropbtn {
  padding: 1em 1em 1em 1em;
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav .nav-bar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 440px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .nav-bar .dropdown .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

nav .nav-bar .dropdown:hover .dropdown-content {
  display: block;
}

nav .nav-bar .column h2 {
  font-family: monospace;
  font-size: 1em;
}

nav .nav-bar .column a {
  font-family: monospace;
  font-size: 0.6em;
}

nav .nav-bar .row {
  width: 100%;
  background-color: lightgrey;
  padding-top: 0.8em;
}

nav .nav-bar .row a {
  padding-top: 1em;
}

nav .nav-bar .row a:hover {
  color: tomato;
  text-decoration: underline;
}

.main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
}

.container {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  text-align: center;
}

.flex-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 2em 0.5em 1em 0.5em;
  padding: 2em 1em 1em 1em;
  width: 100%;
}

.flex-container .mySlides {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #000;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-size: 1em;
}

.flex-container .mySlides img {
  font-size: 1em;
  width: 25%;
  margin: 1em 0 1em 0;
}

.flex-container .mySlides h3 {
  font-size: 2em;
}

.flex-container .mySlides p {
  font-size: 1.2em;
  padding: 1em 0 1em 0;
}

.flex-container .mySlides .btn {
  width: 30%;
  border: 2px solid #000;
  font-size: 1em;
  margin-bottom: 1em;
}

.flex-container .mySlides .btn:hover {
  background-color: tomato;
}

@media only screen and (min-width: 280px) {
  body {
    font-family: monospace;
  }
  .header {
    background-color: #000;
    color: whitesmoke;
  }
  .header .container h1 {
    border: 4px solid whitesmoke;
    font-size: 2em;
    padding: 0.2em 0.3em 0.2em 0.3em;
  }
  .header .container a {
    color: whitesmoke;
  }
  .header .icons {
    padding-left: 2em;
  }
  .header .icons i span:hover {
    color: tomato;
  }
  .search .form {
    width: 100%;
  }
  .search .button {
    width: 8%;
  }
  .search .button:hover {
    color: tomato;
  }
  .nav .nav-bar .dropdown {
    border: none;
    border-radius: 0px;
    font-size: 2em;
  }
  .nav .nav-bar .dropdown:hover {
    background-color: tomato;
  }
  .nav .nav-bar .dropdown .dropdown-content {
    font-size: 1em;
    width: 100%;
  }
  .icon-truck h2,
  .icon-truck i {
    display: none;
  }
  .main .container .flex-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    margin: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 780px) {
  .header {
    background-color: #000;
    color: whitesmoke;
  }
  .header .container h1 {
    border: 4px solid whitesmoke;
    font-size: 3.4em;
    padding: 0.2em 0.3em 0.2em 0.3em;
  }
  .header .container a {
    color: whitesmoke;
  }
  .header .icons {
    padding-left: 2em;
  }
  .header .icons i span:hover {
    color: tomato;
  }
  .search .form {
    width: 100%;
  }
  .search .button {
    width: 8%;
  }
  .search .button:hover {
    color: tomato;
  }
  .nav .nav-bar .dropdown {
    border: none;
    border-radius: 0px;
    font-size: 2em;
  }
  .nav .nav-bar .dropdown:hover {
    background-color: tomato;
  }
  .nav .nav-bar .dropdown .dropdown-content {
    font-size: 1em;
    width: 100%;
  }
  .icon-truck h2,
  .icon-truck i {
    display: none;
  }
  .main .container .flex-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    margin: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    background-color: transparent;
    color: #000;
  }
  .header .container h1 {
    border: 4px solid #000;
    font-size: 5em;
    padding: 0.2em 0.3em 0.2em 0.3em;
  }
  .header .container a {
    color: #000;
  }
  .header .icons {
    padding-left: 2em;
  }
  .header .icons i span:hover {
    color: tomato;
  }
  .search .form {
    width: 100%;
  }
  .search .button {
    width: 8%;
  }
  .search .button:hover {
    color: tomato;
  }
  .nav .nav-bar {
    padding-bottom: 2em;
  }
  .nav .nav-bar .dropdown {
    border: 2px solid #000;
    font-size: 2em;
  }
  .nav .nav-bar .dropdown:hover {
    background-color: tomato;
  }
  .nav .nav-bar .dropdown .dropdown-content {
    font-size: 1em;
    width: 100%;
  }
  .icon-truck h2,
  .icon-truck i {
    display: none;
  }
  .main .container .flex-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    margin: auto;
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  line-height: 1em;
  padding: 1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  border-radius: 1em;
}

form .input-form {
  margin: 1em 1em 1em 1em;
  padding-left: 0.2em;
  width: 55%;
  height: 50%;
  font-size: 1.2em;
  border: 2px solid #000;
  outline: none;
}

form .button {
  margin: 0.8em;
  margin-left: -0.7em;
  width: 5%;
  height: 50%;
  font-size: 1.5em;
  background: transparent;
  border: 2px solid #000;
  cursor: pointer;
}

form .button:hover {
  color: tomato;
}

.icon-truck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: monospace;
  color: #000;
  background-color: whitesmoke;
  cursor: pointer;
  border-top: 2px solid whitesmoke;
}

.icon-truck i {
  position: relative;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  color: tomato;
  width: 100%;
  height: 100%;
}

.contact {
  font-family: monospace;
  font-size: 2em;
  margin: 1em auto auto auto;
  padding: 4em 1em 4em 1em;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: whitesmoke;
}

.footer {
  font-family: monospace;
  font-size: 2em;
  padding: 4em 1em 4em 1em;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  color: #000;
}
/*# sourceMappingURL=main.css.map */
